*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.btn{
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
}

.pull-right{
    float: right;
}

.clear{
    clear: both;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.text-white{
    color: #fff !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col{
    float: left;
    padding: 0px 8px;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.col-ful{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.3333%;
}

.text-center{
    text-align: center;
}
/* main */
html{
    font-family: 'Mulish', sans-serif;
}

#main{
    height: 1000px;
}

#header{
    top: 0;
    height: 46px;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 1;
    font-weight: 600;
}

#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:0px 24px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#nav, .subnav{
    list-style-type: none;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav li{
    display: block;
}

#nav .subnav a{
    color: #000;
    padding: 0px 12px;
    line-height: 38px;
}

#header .search-button{
    line-height: 46px;
    float: right;
    padding: 0px 24px;
}

#header .search-button:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-button .search-icon{
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('./img/slider/Los\ Angeles.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 32px 16px;
    color: #fff;
}

#slider .text-content .text-header{
    margin: 10px 0px;
    font-size: 24px;
    font-weight: 600;
}

#slider .text-content .text-description{
    margin: 15px 0px;
    font-size: 15px;
    font-weight: bold;
}


#content{
    
}

#content .content-section{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px;
}

#content .content-section .section-heading{
    margin: 10px 0px;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 30px;
}

#content .content-section .section-sub-heading{
    margin: 15px 0px;
    font-style: italic;
    opacity: 0.8;
    font-size: 15px;
}

#content .content-section .about-text{
    text-align: justify !important;
    margin: 15px 0;
    font-size: 15px;
    font-weight: 1000;
    line-height: 1.5;
}

#content .member-list{
    padding: 32px 0px;
    overflow: hidden;
}

#content .member-list .member-name{
    font-size: 15px;
    font-weight: 900;
    margin: 15px 0px;
}

#content .member-list .member-avatar{
    width: 154px;
    height: 154px;
    border-radius: 10px;
}

.tour-section{
    background-color: #000;
}

.tickets-lists{
    background-color: #fff;
    color: #000;
    margin-top: 33px;
    text-align: left;
    list-style: none;
}

.tickets-lists li{
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
}

.tickets-lists .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 4px 4px;
    margin-left: 16px;
}

.tickets-lists .quantity{
    float: right;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    color: #fff;
    transform: translateY(-2px);
}

hr{
    color: #ddd;
}

.place-list{
    margin-top: 32px;
}

.place-item{
    width: 33.33333%;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.7;
}

.place-body{
    background-color: #fff;
    text-align: left;
    padding: 16px 16px;
    font-size: 15px;

}

.place-heading{
    
}

.place-time{
    margin: 15px 0px;
    color: #757575;
}

.place-description{
    margin: 15px 0px;
    line-height: 1.5;
    font-weight: 900;
}

#footer{

}

.modal{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal .modal-container{
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFadein ease 0.5s;
}

.modal-header{
    background-color: #009688;
    color: #fff;
    height: 100px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 0px;
}

.modal-header .modal-heading-icon{
    margin-right: 12px;
}

.modal-close{
    position: absolute;
    right: 0;
    padding: 16px 16px;
    color: #fff;
}

.modal-close:hover{
    opacity: 0.8;
    cursor: pointer;
}

.modal-container .modal-body{
    padding: 16px;
}

.modal-body label{
    display: block;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 12px;
}

.modal-body input{
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-ticket{
    width: 100%;
    background-color: #009688;
    color: #fff;
    padding: 16px 0px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

#buy-ticket:hover{
    opacity: 0.9;
    cursor: pointer;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadein{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content{
    margin-top: 48px;
}

.contact-info i{
    margin-right: 15px;
}

.contact-info p{
    font-size: 18px;
    font-weight: 900;
    line-height: 1.5;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit{
    background: #000;
    color: #fff;
    font-size: 15px;
    padding: 8px 16px;
    float: right;
    border: none;
}

.form-submit:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

#footer{
    padding: 64px 0px;
    text-align: center;
}

#footer .social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    margin-right: 4px;
}

#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
    cursor: default;
}

#footer p,
#footer > p a{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
}